
// === COLORS ===
$text-color: #222282;
$theme-color: #170a47;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// === FONTS ===
$text-font: Vardena, Arial, sens-serif;
$headline-font: 'Palatino Linotype', Georgia, serif;

// === SIZES ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
