.back-table-style{
    color: white;
}
.table-style{
    background: rgba(48, 45, 79, 0.3);    
}
.table-head-style{
    background-color: rgba(20, 19, 22, 0.5);
}
.table-body-style:hover {
    background-color: rgba(126, 153, 143, 0.5);
}
.table-body-style:hover .btn-edit-style{
    opacity: 1;
    
}
.btn-style{
    background-color: brown;
    box-shadow: 2px 2px 5px black;
    color: white;
    font-weight: 600;   
    margin: -6px 20px -6px 0px;
    float: right;
    transform: all 1ms;
}
.btn-style:hover{
    background-color: rgb(109, 28, 28);
    transition: all 0.2s;
}
.btn-edit-style{
    opacity: 0;
    background-color: rgb(87, 163, 102);
}
.btn-edit-style:hover{
    background-color: rgb(40, 75, 47);
    transition: all 0.2s;
}
.form-style{
    margin: -30px 40px 10px;
}
::ng-deep #ng2-opd-popup-main{
    top: 10%;
}
.form-group{
    margin: 5px;
}
.div-btn-style{
    margin: 5px -10px;
}
.pormpt-style{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 63px;
    left: 0;
    width: 100%;
    color: white;
    transition: all 0.2s;
}
.centerd{
    text-align: center;
    margin-bottom: 10px;
}
.errorMsg-style{
    color: red;
    margin-left: 5px;
}
